/*  CSS Demo Stylesheet  */

/*  Palette */
:root{
    one:#346654;
    one-comp:#663844;
    two:#F0DAB9;
    two-comp:#A5B1EE;
    three:#2E0E3D;
    three-comp:#103D0C;
}

/*--Box Sizing--*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/*--Global Styles--*/

body{
  background-color: var(two);
}
