/*  CSS Demo Stylesheet  */

/*  Palette */
:root{
    --one:#346654;
    --one-comp:#663844;
    --two:#F0DAB9;
    --two-comp:#A5B1EE;
    --three:#2E0E3D;
    --three-comp:#103D0C;
}

/*  Font  */
@font-face {
    font-family: 'spleen';
    src: url('fonts/spleenmedium-webfont.woff2') format('woff2'),
         url('fonts/spleenmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*--Box Sizing--*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/*--Global Styles--*/
body{
  font-family: 'spleen';
  background-color: var(--two);
  color: var(--three);
  margin:1;
}
a {
  color: var(--one);
} a:visited {
  color: var(--one-comp);
}

header.primary{
  background-color: var(--two-comp);
  text-align: center;
  color: var(--three-comp);
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;  
} header.primary h1{
  font-size: 2.5rem;
  margin: 20px 0 0 0;
} header.primary h1 a{
  color: var(--one);
  text-decoration: none;
} header.primary h2{
  font-size: 1.6rem;
  margin: 0 0 0 0;
} header.primary nav ul{
  padding:0;
} header.primary nav ul li{
  list-style-type: none;
} header.primary nav ul a{
  color: var(--one-comp);
  text-decoration: none;
}